<% include ../partials/header %>

<!-- 	Mapbox	 -->
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            
			<p class="lead">YelpCamp</p>
            
			<div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
			
			<div id="map"></div>
        
		</div>
        
		<div class="col-md-9">
            <div class="thumbnail">
        
				<img class="img-responsive" src="<%= campground.image %>">
                
				<div class="caption-full">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted By <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    
                    <!-- currentuser -> false/undefined codes after && won't work -->
                    <% if( currentUser && campground.author.id.equals(currentUser._id) ) { %>
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        
                        <!--delete route-->
                        <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                    </div>
            </div>
			
            <div class="well">
				<div class="col-md-6 p-0">
					<h4>
						Latest comments for this campground:
					</h4>
				</div>

				<div class="col-md-6 p-0">
					<div class="text-right">
						<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
					</div>
				</div>

                <hr><br>
				
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>   
							<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p>
                                <%= comment.text %> 
                            </p>
                            
                            <!-- current user from app.js -> app.use -> current user -->
                            <% if( currentUser && comment.author.id.equals(currentUser._id) ) { %>
                                <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            
                                 <!--delete route-->
                                <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
			
			<!--Review section-->
			<div class="well">
				<% if (campground.rating === 0) { %>
					<h5>
						<em>No reviews yet.</em>
					</h5>

				<% } else { %>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6 p-0">
								<p>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
									<span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
									<span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
									<span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
									<em>(total reviews: <%= campground.reviews.length %>)</em>
								</p>

								<p>
									Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
								</p>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-6 p-0">
								<div class="text-right inline-block">
									<div style="margin-bottom: 10px;">
										<h4><a href="/campgrounds/<%= campground._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
									</div>

									<a class="btn btn-success <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">
									Add New Review</a>

									</div>
								</div>
							</div>	
						</div> <!-- div class row -->

						<h4 class="pb-5">Latest reviews for this campground: </h4>
						<!-- <hr style="margin-top: 0;"> -->

						<% campground.reviews.slice(0, 5).forEach(function(review){ %>
							<div class="row pb-5">
								<div class="col-md-3">
									<%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
									<div>Review by: <strong><%= review.author.username %></strong></div>

									<span><em><%= review.updatedAt.toDateString() %></em></span>
								</div>

								<div class="col-md-9">
									<p style="text-align: justify; word-wrap: break-word;">
										<%= review.text %>
									</p>

									<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
										<a class="btn btn-xs btn-warning"
										   href="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>/edit">Edit</a>
										<form id="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
											<input type="submit" class="btn btn-xs btn-danger" value="Delete">
										</form>
									<% } %>
								</div>
							</div>
						<% }); %>
					</div>
				<% } %>
			</div>
        </div>
    </div>
<!-- </div> -->

<script>

// mapboxgl.accessToken='pk.eyJ1IjoiZ3VkZXRhbWEiLCJhIjoiY2p6NnZjcDBzMGRsdzNucTh2ODNkeGhvZCJ9.UrB7rwWP2asjfKGnXDWUVg';
mapboxgl.accessToken='<%= process.env.MAPBOX_TOKEN %>';
	
	
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [-96, 37.8],
  zoom: 3
});

var geojson = {
	type: 'FeatureCollection',
	features: [{
		type: 'Feature',
		geometry: {
			type: 'Point',
			coordinates: [-77.032, 38.913]
		},
		properties: {
			title: 'Mapbox',
			description: 'Washington, D.C.'
		}
	},
  	{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [-122.414, 37.776]
    },
    properties: {
      title: 'Mapbox',
      description: 'San Francisco, California'
    }
  }]
};
	
// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
  .setLngLat(marker.geometry.coordinates)
  .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
  .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
  .addTo(map);
});

</script>

<% include ../partials/footer %>